<div class="answer-show">
    <div class="answer-show-title">
        <h2><%= @inquiry.name %>さんへの回答内容</h2>
    </div>
    <div class="answer-show-main">
        <div class="answer-show-content-1">
            <p><%= simple_format(@answer.content) %></p>
        </div>
        <div class="answer-show-content-2">
            <p>回答日時：<%= @answer.created_at.strftime("%Y/%m/%d %H:%M") %></p>
        </div>
        <div class="answer-show-btn">
            <ul>
                <li><%= link_to "お問い合わせの方の回答一覧へ", "/inquiries/#{@inquiry.id}/answers" %></li>
                <li><%= link_to "お問い合わせ一覧へ", "/inquiries" %></li>
                <li><%= link_to "削除する", "/inquiries/#{@inquiry.id}/answers/#{@answer.id}", method: "delete", data: {confirm: "本当に削除してもよろしいですか？ ※復元不可"} %></li>
            </ul>
        </div>
    </div>
</div>