<!DOCTYPE html>
<html>
  <head>
    <title>@cafe</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--< javascript_include_tag('jquery-xxx.min') %>-->
    <script src="https://kit.fontawesome.com/c5427e1216.js" crossorigin="anonymous"></script>
  </head>

  <body class="footer-fix">
    <%= render "layouts/navbar" %>
    
    <% if notice %>
      <div class="notice">
        <p class="alert alert-success"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert">
        <p class="alert alert-danger"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
    
    <%= render "layouts/footer" %>
  </body>
</html>